node_modules
.git
.expo
.next
dist
build
out
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.dockerignore
Dockerfile
docker-compose.yml
.agent
docs
scratch
